<div id="login">
	<div class="box" id="login_message">Vennligt autentiser deg</div>
	<div class="box" id="openid_link"><%= link_to "Logg inn med OpenID", "/auth/open_id" %></div>
	<div class="box" id="facebook_link"><a href="#">Logg inn med Facebook</a></div>
	<div class="box" id="twitter_link"><a href="#">Logg inn med Twitter</a></div>
</div>